:root {
  --twpx-control-color: #2b2b2b;
  --twpx-control-background: #f0f5fc;
  --twpx-control-disabled-color: #00000055;
  --twpx-control-disabled-background: #f0f5fc55;
  --twpx-control-border: #4f74d1;
  --twpx-control-invalid-color: #ff0000;
  --twpx-control-invalid-border: #e38080;
  --twpx-control-invalid-background: #fff5f5;
  --twpx-control-warning-color: #ff0000;
}

.twpx-form-control--text {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}
.twpx-form-control--text.twpx-form-control--active .twpx-form-control__label {
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
  font-size: 0.69rem;
  color: var(--twpx-control-color);
}
.twpx-form-control--text .twpx-form-control__disabled-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control--text .twpx-form-control__label {
  position: absolute;
  top: 0;
  left: 14px;
  margin: 0;
  padding: 0;
  color: var(--twpx-control-color);
  font-size: 0.69rem;
  -webkit-transition: -webkit-transform 0.2s ease-out,
    -webkit-font-size 0.2s ease-out;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  -webkit-transform: translateY(1.1rem);
  transform: translateY(1.1rem);
  pointer-events: none;
  line-height: 1.1;
}
.twpx-form-control--text.twpx-form-control--invalid .twpx-form-control__label {
  color: var(--twpx-control-invalid-color);
}
.twpx-form-control--text.twpx-form-control--disabled .twpx-form-control__label {
  color: var(--twpx-control-color);
  opacity: 0.3;
}
.twpx-form-control--text .twpx-form-control__input {
  display: block !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 14px !important;
  color: var(--twpx-control-color);
  background-color: var(--twpx-control-background) !important;
  border: 1px solid var(--twpx-control-background) !important;
  height: 48px !important;
  line-height: 48px;
  border-radius: 3px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
}
.twpx-form-control--text .twpx-form-control__input:focus,
.twpx-form-control--text .twpx-form-control__input:hover {
  outline: none !important;
  border-color: var(--twpx-control-border) !important;
}
.twpx-form-control--text.twpx-form-control--invalid .twpx-form-control__input {
  background-color: var(--twpx-control-invalid-background) !important;
  border-color: var(--twpx-control-invalid-border) !important;
  outline: none !important;
  color: var(--twpx-control-invalid-color) !important;
}
.twpx-form-control--text.twpx-form-control--disabled .twpx-form-control__input {
  color: var(--twpx-control-disabled-color);
  pointer-events: none;
  background-color: var(--twpx-control-disabled-background) !important;
  border: 1px solid var(--twpx-control-disabled-background) !important;
}
.twpx-form-control--text .twpx-form-control__warning,
.twpx-form-control--text .twpx-form-control__hint {
  font-size: 9pt;
  margin: 5px;
  line-height: 1.1;
}
.twpx-form-control--text .twpx-form-control__warning {
  color: var(--twpx-control-warning-color);
}
