.twpx-form-control--radio {
  position: relative;
  margin-bottom: 16px;
}
.twpx-form-control--radio .twpx-form-control-hint {
  color: var(--twpx-control-color);
  font-size: 9px;
  margin: 8px 0 0 14px;
  line-height: 1.2;
}

/*Radio*/
.twpx-form-control--radio .twpx-form-control__radio {
  display: block;
  margin-bottom: 8px;
}
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked),
.twpx-form-control--radio .twpx-form-control__radio [type='radio']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  min-height: 24px;
  line-height: 14px;
  font-size: 14px;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']
  + span:before,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']
  + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span:before,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span:after,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span:before,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span:after,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:before,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:after {
  border-radius: 50%;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span:before {
  background-color: var(--twpx-control-background);
}
.twpx-form-control--radio
  .twpx-form-control__radio:hover
  [type='radio']:not(:checked)
  + span:before {
  background-color: #d7dee1;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span:after {
  border: 2px solid transparent;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:not(:checked)
  + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span:after,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:before {
  background-color: #d7dee1;
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:after {
  background-color: var(--twpx-control-color);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span:after,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:after {
  background-color: var(--twpx-control-color);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:checked
  + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:checked
  + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:disabled:checked
  + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio'].with-gap:disabled:checked
  + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:disabled:not(:checked)
  + span:before,
.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:disabled:checked
  + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:disabled
  + span {
  color: rgba(0, 0, 0, 0.42);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:disabled:not(:checked)
  + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

.twpx-form-control--radio
  .twpx-form-control__radio
  [type='radio']:disabled:checked
  + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}
