:root {
  --twpx-control-color: #2b2b2b;
  --twpx-control-background: #f0f5fc;
  --twpx-control-disabled-color: #00000055;
  --twpx-control-disabled-background: #f0f5fc55;
  --twpx-control-border: #4f74d1;
  --twpx-control-invalid-color: #ff0000;
  --twpx-control-invalid-border: #e38080;
  --twpx-control-invalid-background: #fff5f5;
  --twpx-control-warning-color: #ff0000;
}
